<%# app/views/admin/partners/edit.html.erb %>

<div class="p-8">
  <h1 class="text-3xl font-bold mb-6 text-admin-text text-center">Editar Parceiro</h1>
  <%= render 'form', partner: @partner %>
</div>
