<%# app/views/admin/partners/new.html.erb %>

<h1 class="text-3xl font-bold mb-6 text-admin-accent">Novo Colaborador</h1> <%# NOVO TÃTULO %>

<%= render 'form', admin_user: @admin_user %> <%# MUDOU: partner para admin_user %>