<h1>Apoie o Projeto JSN</h1>
<p>O JSN é 100% voluntário. Você pode colaborar de várias formas: com produtos para rifas, com serviços ou até divulgando o projeto.</p>

<h3>Como apoiar:</h3>
<ul>
  <li>Doando prêmios para futuras rifas</li>
  <li>Oferecendo serviços (como design, impressão, site, etc.)</li>
  <li>Divulgando o projeto para amigos e empresas</li>
</ul>

<p>Empresas parceiras têm seus nomes e marcas divulgadas no nosso site e redes sociais como apoiadores oficiais.</p>

<a href="#" class="btn btn-success">Quero Apoiar!</a>
