<h1>Conheça a Equipe JSN</h1>
<p>O JSN é formado por um time de fãs dedicadas que fazem tudo acontecer com amor e voluntariado.</p>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="https://via.placeholder.com/300" class="card-img-top" alt="Representante 1">
      <div class="card-body">
        <h5 class="card-title">Júlia Nunes</h5>
        <p class="card-text">Idealizadora do projeto. Responsável pela comunicação com os fãs e organização geral.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="https://via.placeholder.com/300" class="card-img-top" alt="Representante 2">
      <div class="card-body">
        <h5 class="card-title">Sara Kim</h5>
        <p class="card-text">Designer do projeto e responsável pelas artes das campanhas e rifas.</p>
      </div>
    </div>
  </div>
</div>
