<!-- app/views/pages/home.html.erb -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">Bem-vindo ao Projeto JSN!</h1>
      <p class="lead text-center">Aqui você pode se envolver no mundo do K-pop, acompanhar sorteios emocionantes e muito mais!</p>

      <div class="text-center mt-4">
        <a href="/sorteios" class="btn btn-primary btn-lg">Confira os Sorteios</a>
        <a href="/ganhadores" class="btn btn-success btn-lg ml-3">Veja os Ganhadores</a>
      </div>
    </div>
  </div>
</div>
