<h1>Sorteios Ativos</h1>
<p>Aqui você encontra todos os sorteios ativos do projeto JSN. Participe e ajude a apoiar os idols!</p>

<!-- Exemplo de sorteio ativo -->
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="Imagem do prêmio">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Rifa do Álbum Novo do BTS</h5>
        <p class="card-text">Participe para concorrer a um álbum especial!</p>
        <a href="#" class="btn btn-primary">Comprar Rifa</a>
      </div>
    </div>
  </div>
</div>
