<%# app/views/admin/admin_users/new.html.erb %>

<div class="p-8">
  <h1 class="text-3xl font-bold mb-6 text-admin-text text-center">Adicionar Novo Administrador</h1>
  <%= render 'form', admin_user: @admin_user %>
</div>