/* Estilo específico para a página inicial */
h1 {
    color: #8a2be2; /* roxo vibrante */
    font-size: 3.5rem;
  }
  
  p {
    font-size: 1.3rem;
    color: #6a0dad; /* tom de roxo mais escuro */
  }
  